{{ define "main" }}
    <div class="row justify-content-center">
        {{ range .Data.Pages.ByWeight }}
            <div class="col-md-6 mb-4">

                <div class="text-center h-100 {{ if eq .Params.State "planned" }} project__disabled{{ end }}">
                    <div class="p-3 h-100">
                        <h2>
                            <a href="{{ .Permalink }}" class="text-{{ .Title | urlize }}">{{ .Title }}</a>
                        </h2>
                        <div>
                            {{ .Summary }} <br>
                            ({{ .Params.State | title }})
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}
