{{ define "header" }}

    <h1>
        {{ .Title }}
    </h1>
    <div>
        {{ partial "article-metadata" . }}
    </div>

{{ end }}

{{ define "main" }}
    <article class="mb-4">
        {{ .Content }}
    </article>

    {{ if .Site.Params.repoUrl }}
        <div class="alert alert-info d-flex align-items-center" role="alert">
            <div>
                {{ if .Lastmod }}
                    <a href="{{ .Permalink }}"><u>{{ .Title }}</u></a> was last updated on
                    {{ if (.Site.Params.enableMomentJs | default true ) }}
                        <span class="badge bg-light text-dark date moment">{{ .Lastmod.Format "2006-01-02" }}</span>.
                    {{ else }}
                        <span class="badge bg-light text-dark date">{{ .Lastmod.Format (.Site.Params.DateFormat | default "2006-01-02") }}</span>.
                    {{ end }}
                {{ end }}
                If you find any missing or incorrect information feel free to create an issue or a PR
                <a href="{{ .Site.Params.repoUrl }}"><u>here</u></a>.
            </div>
        </div>
    {{ end }}

    <div class="mb-4 disqus">
        {{ template "_internal/disqus.html" . }}
    </div>
{{ end }}
