<footer class="bg-light">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-4 recent-posts">
                <div class="py-3">
                    <h4 class="px-3">
                        {{ i18n "latestPosts" }}
                    </h4>
                    <div>
                        <ul class="list-group list-group-flush">
                            {{ range first (.Site.Params.amountLatestPostsInFooter | default 7) (where .Site.RegularPages.ByPublishDate.Reverse "Type" "in" .Site.Params.mainSections) }}
                                <li class="list-group-item bg-light">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-4 categories">
                <div class="py-3">
                    {{ with $.Site.GetPage "categories" }}
                        <h4 class="px-3">
                            <a class="text-decoration-none" href="{{ .Permalink }}">{{ i18n "categories" }}</a>
                        </h4>
                        <div>
                            <ul class="list-group list-group-flush">
                                {{ range $order, $taxonomy := (first ( .Site.Params.amountCategoriesInFooter | default 7 ) .Site.Taxonomies.categories.ByCount) }}
                                    <li class="list-group-item bg-light">
                                        <a href="{{ (print "/categories/" ($taxonomy.Name | urlize)) | relLangURL }}">
                                            {{ $taxonomy.Name | humanize }}</a>
                                        <span class="badge bg-secondary text-light rounded-pill">{{ $taxonomy.Count }}</span>
                                    </li>
                                {{ end }}
                                <li class="list-group-item bg-light">
                                    <a href="{{ .Permalink }}">...</a>
                                </li>
                            </ul>
                        </div>
                    {{ end }}
                </div>
            </div>

            <div class="col-md-4 external-profiles">
                <div class="py-3">
                    {{ with $.Site.GetPage "tags" }}
                        <h4 class="px-3">
                            <a class="text-decoration-none" href="{{ .Permalink }}">{{ i18n "tags" }}</a>
                        </h4>
                        <div>
                            <ul class="list-group list-group-flush">
                                {{ range $order, $taxonomy := (first ( .Site.Params.amountTagsInFooter | default 7 ) .Site.Taxonomies.tags.ByCount) }}
                                    <li class="list-group-item bg-light">
                                        <a href="{{ (print "/tags/" ($taxonomy.Name | urlize)) | relLangURL }}">
                                            {{ $taxonomy.Name | humanize }}</a>
                                        <span class="badge bg-secondary text-light rounded-pill">{{ $taxonomy.Count }}</span>
                                    </li>
                                {{ end }}
                                <li class="list-group-item bg-light">
                                    <a href="{{ .Permalink }}">...</a>
                                </li>
                            </ul>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>

        <div class="row my-3">
            <div class="col-md-auto p-3 rss">
                {{ with  .OutputFormats.Get "rss" -}}
                    <a href="{{ .Permalink }}">{{ .Name }}</a>
                {{- end }}
            </div>
            <div class="col-md p-3 copyright text-right">
                Content of the site licensed under
                <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
            </div>
        </div>
    </div>
</footer>
