<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{- $currentPage := . }}
                <li class="nav-item">
                    <a class="nav-link{{ if .IsHome | or (eq .Page.Kind " 404") | or (eq .Page.Type
                    "articles") }} active{{end}}"
                       aria-current="page" href="{{ .Site.BaseURL | relLangURL }}">{{ i18n "articles" }}</a>
                </li>

                {{ range .Site.Menus.page }}
                    {{- $active := or ($currentPage.IsMenuCurrent "page" .) ($currentPage.HasMenuCurrent "page" .) }}
                    <li class="nav-item">
                        <a class="nav-link{{ if eq $currentPage.Section $active }} active{{end}}"
                           aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
