{{ if gt .Paginator.TotalPages 1 }}
    <div class="my-3">
        <div class="row justify-content-between">
            {{ if .Paginator.HasPrev }}
                <div class="col-auto">
                    <a href="{{ .Paginator.Prev.URL }}" class="newer">{{ i18n "newerPosts" }} <i class="fa fa-angle-double-right"></i></a>
                </div>
            {{ end }}

            {{ if .Paginator.HasNext }}
                <div class="col-auto">
                    <a href="{{ .Paginator.Next.URL }}" class="older"><i class="fa fa-angle-double-left"></i> {{ i18n "olderPosts" }}</a>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}
