<header class="mdc-top-app-bar drawer-top-app-bar"
        id="app-bar">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <button class="mdc-icon-button material-icons mdc-top-app-bar__navigation-icon mdc-ripple-upgraded--unbounded mdc-ripple-upgraded"
                    style="--mdc-ripple-fg-size:28px; --mdc-ripple-fg-scale:1.71429; --mdc-ripple-left:10px; --mdc-ripple-top:10px;">
                menu
            </button>
            <span class="mdc-top-app-bar__title">
                <a class="mdc-top-app-bar__action-item" href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a>
            </span>
        </section>
    </div>
</header>
