{{ define "header" }}

    <div class="row align-items-center mb-3">
        <div class="col-md-auto">
            <a href="{{ .Site.BaseURL | relLangURL }}">
                <img src="https://www.gravatar.com/avatar/{{ md5 .Site.Params.mail }}?d=mm&size=100"
                     class="border rounded-circle" height="96" alt="" crossorigin="anonymous">
            </a>
        </div>
        <div class="col-md">
            <h1>
                {{ .Title }}
            </h1>
            <div>
                {{ .Content  }}
            </div>
            <ul class="list-group list-group-horizontal">
                {{ range .Site.Params.social }}
                    <li class="list-group-item">
                        <a class="text-decoration-none" href="{{ .link }}">{{ .name }}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>

{{ end }}

{{ define "main" }}

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}

    {{ range $paginator.Pages }}
        {{ .Render "summary" }}
    {{ end }}

    {{ partial "paginator" . }}
{{ end }}
