$primary: #283593;
$secondary: #9c27b0;
$light: #f1f3f4;
$dark: #212529;

@import "~bootstrap/scss/bootstrap.scss";

.project__disabled {
  opacity: 0.6;
  background: $gray-200;
}

blockquote {
  padding: 0 1em;
  border-left: .25em solid $secondary;
}
